<footer class="footer">
  <div class="wrap footer__inner">
    <div class="footer__top">
      <a class="footer__mark" href="index.html">Marvin Balmaceda</a>
      <ul class="footer__nav">
        <li><a href="work.html">Work</a></li>
        <li><a href="services.html">Services</a></li>
        <li><a href="about.html">About</a></li>
        <li><a href="start.html">Start a project</a></li>
        <li><a href="privacy.html">Privacy</a></li>
      </ul>
    </div>
    <p class="footer__base micro">&copy; 2026 All Rights Reserved. Marvin Balmaceda</p>
  </div>
</footer>
